.card {
    width: auto;
    aspect-ratio: 2.5/3.5; // 64/89
    background: #ccc;
    position: relative;
    border-radius: 5.5%; //3.5/64*100
    container-type: size;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .card-suit {
        position: absolute;
        top:0; // 5.6%; // 5/89*100 =
        left: 7.8%; // 5/64*100
        // width: 16%;
        font-weight: bolder;
        font-size: 35cqw;
    }

    .card-value {
        position: relative;
        width: 50%;
        font-size: 50cqw;
        text-align: center;
        font-family: monospace;
    }

    &.hearts .card-suit::before {
        content: "♥";
    }
    &.diamonds .card-suit::before {
        content: "♦";
    }
    &.clubs .card-suit::before {
        content: "♣";
    }
    &.spades .card-suit::before {
        content: "♠";
    }   

    &.hearts,
    &.diamonds {
        color: red;
    }
    &.clubs,
    &.spades {
        color: black;
    }
}
