<!-- <bj-nav></bj-nav>
<h1>BJ</h1>

<div class="card diamonds" style="width: 30%; margin: 1rem">
    <span class="card-value"></span>
    <span class="card-semen">K</span>
</div> -->

<div>
    <p>status: {{ status() }}</p>
    <p>dealer: {{ hs.dealer() }}</p>
    <p>player (code): {{ hs.code() }}</p>
    <p>player (HAND): {{ hs.hand() }}</p>
    <p>player (value): {{ hs.value() }}</p>
    <p>is Blackjack? {{ hs.bj() | json}}</p>
</div>
<p></p>
<p>action : {{action()}}</p>

<p><a (click)="reset()">RESET</a></p>
